@model IEnumerable<Shop.Models.Sale>

@{
    ViewBag.Title = "List";
}

@{
    ViewBag.Title = "Index";
}
<h2>shop Record</h2>
@* Table for showing the list of Records from the database *@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="OpenAddPopup();">Add New User</button><br /><br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                price
            </th>
            <th>
                contact_Number
            </th>
            <th>
                size
            </th>

        </tr>
    </thead>
    <tbody class="tbody"></tbody>
</table>

@*BootsTrap Model Popup for Adding and Updating the  Patient Record *@
<div class="modal fade" id="AddUpdateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="AddUpdateModelLabel">Add Patient</h4>
            </div>
            <div class="modal-body">
                <form>
                    @* hidden filed for storing Id *@
                    <input type="hidden" id="hfpatientId" />
                    <div class="form-group">
                        <label for="txtName">Name</label>
                        <input type="text" class="form-control" id=" txtName" placeholder=" Name" />
                    </div>


                    <div class="form-group">
                        <label for="txtPatientEmail">price</label>
                        <input type="text" class="form-control" id="txtPrice" placeholder="price" />
                    </div>
                    <div class="form-group">
                        <label for="txtAddress">contact_Number</label>
                        <input type="text" class="form-control" id="txtAddress" placeholder="contact_number" />
                    </div>
                    <div class="form-group">
                        <label for="txtBloodGroup"> size </label>
                        <input type="text" class="form-control" id="txtSize" placeholder=" size " />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddDress" onclick="return Getusers();">Create user</button>
                <button type="button" class="btn btn-primary" id="btnUpdatedress" style="display:none;" onclick="update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<script type="text/javascript">
    //Load Data in Table when documents is ready
    $(document).ready(function () {
        BindpatientData();
    });

    //Bind Data function which is responoisble for loading all data from database
    function BindpatientData() {
        $.ajax({
            url: "/Patient/GetPatientList",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result) {
                    //itetrate thorugh each record and bind it to td
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.Id + '</td>';
                        html += '<td>' + item.name+ '</td>';
                        html += '<td>' + item.price + '</td>';
                        html += '<td>' + item.contact_number + '</td>';
                        html += '<td>' + item.price+ '</td>';


                        html += '<td><a href="#" onclick="return OpenEditPopup(' + item.Id + ')">Edit</a> | <a href="#" onclick="DelelePatient(' + item.Id + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //************Adding Record in the database***********


    function OpenAddPopup() {
        //title text
        $("#AddUpdateModelLabel").text("Add Patient")
        //clear all input
        ClearAllInput();
        //open popup
        $('#AddUpdateModel').modal('show');
        //show add patient button and hide update button
        $('#btnUpdatepatient').hide();
        $('#btnAddpatient').show();
    }

    //Add Data Function
    function AddPatient() {
        var res = ValidateUserInput();
        if (res == false) {
            return false;
        }
        var patientObj = {
            Id: $('#Id').val(),
            PatientName: $('#Name').val(),
            PatientNumber: $('#price').val(),
            PatientEmail: $('#contact_number').val(),
            Address: $('#txtAddress').val(),
            BloodGroup: $('#txtSize').val(),
        };
        $.ajax({
            url: "/Shopping/Adduser",
            data: JSON.stringify(patientObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //populate table with new record
                BindpatientData();
                //claer all input and hide model popup
                ClearAllInput();
                $('#AddUpdateModel').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }



    function OpenEditPopup(PatienId) {
        $("#AddUpdateModelLabel").text("Update new dress Detail")
        ClearAllInput();
        $.ajax({
            url: "/shoppinh/GetuserbyID?Id=" + PatienId,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                debugger;
                $("#AddUpdateModelLabel").val("Update Patient Detail")
                $('#hfId').val(result.Id);
                $('#txName').val(result.PatientName);
                $('#txtContact_Number').val(result.PatientNumber);
                $('#txtSize').val(result.PatientEmail);
                $('#AddUpdateModel').modal('show');
                $('#btnUpdatetuser').show();
                $('#btnAdduser').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    
    function UpdatePatient() {
        var res = ValidateUserInput();
        if (res == false) {
            return false;
        }
        var patientObj = {
            Id: $('#hfpatientId').val(),
            PatientName: $('#txtPatientName').val(),
            PatientNumber: $('#txtPatientNumber').val(),
            PatientEmail: $('#txtPatientEmail').val(),
            Address: $('#txtAddress').val(),
            BloodGroup: $('#txtBloodGroup').val(),
        };
        if (!patientObj.Id || patientObj.Id <= 0) {
            alert("Invalid Id!");
            return false;
        }
        $.ajax({
            url: "/Patient/UpdatePatient",
            data: JSON.stringify(patientObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                BindpatientData();
                ClearAllInput();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //function for deleting employee's record
    function Deletetuser(ID) {
        var ans = confirm("Are you sure you want to delete?");
        if (ans) {
            $.ajax({
                url: "/Patient/Deletetuser?Id=" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    BindpatientData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function ClearAllInput() {
        $('#AddUpdateModel').modal('hide');
        $('#Id').val("");
        $('#txtName').val("");
        $('#txtPrice').val("");
        $('#txtcontact_number').val("");
        $('#txtsize').val("");
        

        $('#txtName').css('border-color', 'lightgrey');
        $('#txtprice').css('border-color', 'lightgrey');
        $('#txtcontact_number').css('border-color', 'lightgrey');
        $('#txtSize').css('border-color', 'lightgrey');
       
    }
    function ValidateUserInput() {
        var isValid = true;
        if ($('#txtName').val().trim() == "") {
            $('#txtName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtName').css('border-color', 'lightgrey');
        }
        if ($('#txtcontact_number').val().trim() == "") {
            $('#txtcontact_number').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtcontact_number').css('border-color', 'lightgrey');
        }
        if ($('#txtPrice').val().trim() == "") {
            $('#txtPrice').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtPrice').css('border-color', 'lightgrey');
        }
        if ($('#size').val().trim() == "") {
            $('#size').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtsize').css('border-color', 'lightgrey');
        }



        return isValid;
    }
</script>


